<ion-header>
  <ion-toolbar>
    <ion-title>
      PADELG5 (Club de Padel Huelva)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/paquito.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Prueba de Ionic</ion-card-subtitle>
        <ion-card-title>Administracion de padel</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Esto es una prueba de para la gestion de un club de padel</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://www.worldpadeltour.com/">
        <ion-icon slot="start" color="medium" name="tennisball"></ion-icon>
        <ion-label>Pagina de World Padel Tour</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Scaffold Out Your App</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
