<ion-header>
  <ion-toolbar color="success">
    <ion-title text-center>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content padding>
    <img class="icon" src="assets/icon/registro.svg" alt="">
    <ion-item>
      <ion-label position="floating"> Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> Correo electronico</ion-label>
      <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [type]="passwordType" [(ngModel)]="password" name="password"></ion-input>
      <ion-icon slot="end" name="eye" color="gray" (click)="tooglePassword()"></ion-icon>
    </ion-item>
    <p>* La contraseña debe de tener mas de 6 caracteres</p>
    <ion-button expand="block" (click)="OnSubmitRegister()">Registrarte</ion-button>
    <p text-center (click)="login()">Ya tengo cuenta</p>
  </ion-content>
</ion-content>