<!--Cabezera-->
<ion-header>
  <ion-toolbar>
    <ion-button slot="end" fill="clear" (click)="presentActionSheet()">
      <ion-icon style="color:blue" name="menu"></ion-icon>
    </ion-button>
    <ion-title>
      <ion-img class="iconop" src="/assets/icon/titulo.PNG"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--Vista datos personales-->
<ion-content *ngIf="tab == 0">
  <br>
  <ion-title>Datos del Usuario </ion-title>
  <ion-content padding>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="user.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> Apellidos</ion-label>
      <ion-input type="text" name="surname" [(ngModel)]="user.surname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fecha de Nacimiento</ion-label>
      <ion-input type="date" name="date" [(ngModel)]="user.date"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input type="number" name="phone" [(ngModel)]="user.phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> Direccion</ion-label>
      <ion-input type="text" name="direction" [(ngModel)]="user.direction"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> Codigo Postal</ion-label>
      <ion-input type="number" name="postal" [(ngModel)]="user.postal"></ion-input>
    </ion-item>
    <br>
    <ion-button color="success" expand="block" (click)="saveUserData()">Guardar Datos</ion-button>

  </ion-content>
</ion-content>

<!--Vista de la Reserva de pistas-->
<ion-content *ngIf="tab == 1">
  <ion-card class="welcome-card">
    <ion-img src="/assets/paquito.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Lista de Pistas de Padel</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <h1> Fecha</h1>
    </ion-list-header>
    <ion-input type="date" name="date" [(ngModel)]="diaReserva" (ngModelChange)="updateRoster($event)"></ion-input>
    <ion-list-header>
        <h1> Pistas</h1>
      </ion-list-header>
    <ion-item>
      <ion-label>Pista 1</ion-label>
      <ion-icon slot="start" color="medium" name="tennisball"></ion-icon>
      <ion-select placeholder="Seleccione hora" [disabled]="reservasByDate[0].lenght == 3"
        [(ngModel)]="reservaPistas[0].hora">
        <ion-select-option [value]=selectValue[0] [disabled]="reservasByDate[0].includes(0)">9:00-10:30
        </ion-select-option>
        <ion-select-option [value]=selectValue[1] [disabled]="reservasByDate[0].includes(1)">10:30-12:00
        </ion-select-option>
        <ion-select-option [value]=selectValue[2] [disabled]="reservasByDate[0].includes(2)">12:00-13:30
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Pista 2</ion-label>
      <ion-icon slot="start" color="medium" name="tennisball"></ion-icon>
      <ion-select placeholder="Seleccione hora" [disabled]="reservasByDate[1].lenght == 3"
        [(ngModel)]="reservaPistas[1].hora">
        <ion-select-option [value]=selectValue[0] [disabled]="reservasByDate[1].includes(0)">9:00-10:30
        </ion-select-option>
        <ion-select-option [value]=selectValue[1] [disabled]="reservasByDate[1].includes(1)">10:30-12:00
        </ion-select-option>
        <ion-select-option [value]=selectValue[2] [disabled]="reservasByDate[1].includes(2)">12:00-13:30
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Pista 3</ion-label>
      <ion-icon slot="start" color="medium" name="tennisball"></ion-icon>
      <ion-select placeholder="Seleccione hora" [disabled]="reservasByDate[2].lenght == 3"
        [(ngModel)]="reservaPistas[2].hora">
        <ion-select-option [value]=selectValue[0] [disabled]="reservasByDate[2].includes(0)">9:00-10:30
        </ion-select-option>
        <ion-select-option [value]=selectValue[1] [disabled]="reservasByDate[2].includes(1)">10:30-12:00
        </ion-select-option>
        <ion-select-option [value]=selectValue[2] [disabled]="reservasByDate[2].includes(2)">12:00-13:30
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Pista 4</ion-label>
      <ion-icon slot="start" color="medium" name="tennisball"></ion-icon>
      <ion-select placeholder="Seleccione hora" [disabled]="reservasByDate[3].lenght == 3"
        [(ngModel)]="reservaPistas[3].hora">
        <ion-select-option [value]=selectValue[0] [disabled]="reservasByDate[3].includes(0)">9:00-10:30
        </ion-select-option>
        <ion-select-option [value]=selectValue[1] [disabled]="reservasByDate[3].includes(1)">10:30-12:00
        </ion-select-option>
        <ion-select-option [value]=selectValue[2] [disabled]="reservasByDate[3].includes(2)">12:00-13:30
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Pista 5</ion-label>
      <ion-icon slot="start" color="medium" name="tennisball"></ion-icon>
      <ion-select placeholder="Seleccione hora" [disabled]="reservasByDate[4].lenght == 3"
        [(ngModel)]="reservaPistas[4].hora">
        <ion-select-option [value]=selectValue[0] [disabled]="reservasByDate[4].includes(0)">9:00-10:30
        </ion-select-option>
        <ion-select-option [value]=selectValue[1] [disabled]="reservasByDate[4].includes(1)">10:30-12:00
        </ion-select-option>
        <ion-select-option [value]=selectValue[2] [disabled]="reservasByDate[4].includes(2)">12:00-13:30
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-button color="success" expand="block" (click)="guardarReserva()">Reservar Pista</ion-button>
  <br>
  <ion-content>
      <ion-list-header>
          <h1> Mis Reservas</h1>
        </ion-list-header>
    <ion-list>
      <ion-item-sliding *ngFor='let reserva of reservas'>
        <ion-item>
          {{nombrepista[reserva.npista] +'
          (Dia: ' + reserva.date+')' + ' ' + horas[reserva.hora]}}
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="cancelPistas(reserva)"> <ion-icon name="trash"></ion-icon>Cancelar</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-content>
</ion-content>

<!--Vista Acerca de-->
<ion-content *ngIf="tab == 2">
  <br>
  <ion-title>Como llegar</ion-title>
  <br>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3175.0281254889637!2d-6.915577684417627!3d37.27076014876864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd11c553c8b898a1%3A0x717c0bcd44818a04!2zUMOhZGVsNw!5e0!3m2!1ses!2ses!4v1559552542373!5m2!1ses!2ses"
    width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
  <br><br>
  <ion-content>
    <ion-title>Torneo disponible</ion-title>
    <br>
    <ion-list>
      <ion-item>
        <ion-item *ngFor="let torneo of torneoImg">
          <ion-img [src]="torneo.imagen"></ion-img>
        </ion-item>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-content>
    <ion-title>Manual de Usuario</ion-title>
    <ion-item detail="true" href="https://drive.google.com/open?id=1u_FCVm3019ggiSOBA6gtsN6GsHp7hfe5">
      <ion-label>
       Pulse aqui
      </ion-label>
    </ion-item>
    <br>
    <ion-content>
      <ion-title>Contacto</ion-title>
      <ion-item detail="true" href="mailto:guihema@hotmail.com">
        <ion-label>
         Correo electronico: guihema@hotmail.com
        </ion-label>
      </ion-item>
      <br>
      <ion-title>Numero de Consulta</ion-title>
      <ion-item detail="true" href="tel:+663455338">
        <ion-label>
         Telefono: 663455338
        </ion-label>
      </ion-item>
    </ion-content>
   
  </ion-content>
  
  
</ion-content>


<!--Botones footer para navegar y cerrar sesion-->
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-button (click)="setTab(0)" [disabled]="tab==0">Datos</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button (click)="setTab(1)" [disabled]="tab==1">Pistas</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button (click)="setTab(2)" [disabled]="tab==2">Acerca de</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>