<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img class="icono" src="assets/icon/login.svg" alt="">
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input [(ngModel)]="password" [type]="passwordType" name="password"></ion-input>
    <ion-icon slot="end" name="eye" color="gray" (click)="tooglePassword()"></ion-icon>
  </ion-item>
  <br>
  <ion-item (click)="onResetPassword()">
    <ion-label>
      ¿Has olvidado la contraseña?
    </ion-label>
  </ion-item>
  <br>
  <ion-button (click)="onSubmitLogin()" expand="block">Iniciar Sesion</ion-button>
  <ion-button (click)="onSubmitRegister()" expand="block">Registrarse</ion-button>
  <ion-button (click)="onLoginGoogle()"expand="block" color="danger"><ion-icon slot="end" name="logo-google"></ion-icon>Iniciar sesion con Google </ion-button>
</ion-content>